body{
  background:hsl(345, 100%, 88%);
}
.img{
   background:url('../images/women.png')no-repeat center center;
   width: 372px;height: 423px;
   transform: rotate(45deg);
   box-shadow: 1px 2px 3px #f40;
}
#aaaaa{
  font-size:24px; 
}